<section class="splash main-bg">
  <h1>Budget APP</h1>
  <div class="links">
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  </div>
</section>